<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <Form action="/updated" method="Post">
        <input type="text" placeholder="eneterid" name="id">
        <input type="text" name="ipAdress" placeholder="enter ip adress">
        <input type="text" name="description" placeholder="enter description">
        <input type="text" name="malware" placeholder="enter malware_family">
        <input type="text" name="status" placeholder="enter status">
        <input type="submit">


    </Form>
</body>

</html>